$gold: #C6A26E;
$gold1: #B27214;
$gold2: #FFD79DB2;
$gold3: #FFD79DE5;
$gold4: #E7DFD1;
$gold5: #F5E9D5;
$gold6: #C6A26E66;
$gold7: #C5A26E;
$gold8: #FFD79D;
$green: #58C900;
$red: #AC1A01;
$red1: #F87777;
$black: #2F2F2F;
$black1: #424242;
$gray: #F1EEE9;
$gray2: #777777;
$gray3: #898989