.table__wrapper {
    overflow-x: auto;
    margin: 0 auto;
    padding: 1rem;
    display: block;
    max-width: 100%;
    button {
        padding: 15px 32px;
        margin: 20px auto;
        display: flex;
        border-radius: 36px;
        border: 3px solid $gold6;
        color: $gold1;
        background: transparent;
        cursor: pointer;
        transition: all .3s ease;
        font-size: 16px;
        &:hover {
            background: $gold;
            color: #fff;
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    tbody {
        background-color: #fff;
        transition: all .3s ease;
        border-top: 2px solid $gold4;
        border-bottom: 2px solid $gold4;
        cursor: pointer;
        &:hover {
            background-color: $gold5;
        }
    }
}

th,
td {
    padding: 1rem;
    text-align: left;
    vertical-align: top;
    border: none;
}

.table__item-date,
.table__item-img,
.table__item-title,
.table__item-price,
.table__item-link {
    margin: 0.5rem 0;
}

.table__item-date h2 {
    margin: 0;
    font-size: 2rem;
}

.table__item-date p {
    margin: 0;
    font-size: 1rem;
}

.table__item-img img {
    height: auto;
}

.table__item-title a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}

.table__item-title a img {
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
}

.table__item-price h3 {
    margin: 0;
    font-size: 1.25rem;
}

.table__item-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    background-color: $gold;
    color: #fff;
    padding: 10px;
    margin: 40px 0;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    transition: all .3s ease;
    &:hover {
        opacity: .8;
    }
}

.table__item-link a img {
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
}
table th {
    padding: 10px 0;
    border-top: 2px solid $gold4;
    border-bottom: 2px solid $gold4;
}
.table {
    &__item-date {
        h2 {
            font-size: 70px;
            line-height: 92px;
            color: $gold;
        }
    }
    &__item-img {
        img {
            width: 192px;
            margin: 0 auto;
            display: flex;
        }
    }
    &__item-title {
        h2 {
            color: $gold;
            font-size: 32px;
            line-height: 42px;
        }
        p {
            font-size: 16px;
            line-height: 22px;
            margin: 5px 0;
        }
        a {
            display: flex;
        }
    }
    &__item-price {
        h3 {
            color: $red;
            font-size: 24px;
            line-height: 32px;
            font-weight: 500;
            margin: 50px 0;
        }
    }
}