@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://db.onlinewebfonts.com/c/543092172c7d9a62dc51fa0fc510b6cf?family=Everett+Regular");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* reset.scss */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #F1EEE9;
}

::-webkit-scrollbar-thumb {
  background-color: #B27214;
  border-radius: 10px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Nunito Sans", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.outline__btn {
  padding: 15px 32px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  border-radius: 36px;
  border: 3px solid rgba(198, 162, 110, 0.4);
  color: #B27214;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}
.outline__btn:hover {
  background: #C6A26E;
  color: #fff;
}

.br__outline-btn {
  padding: 15px 32px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #fff;
  background: #C6A26E;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  text-decoration: none;
  max-width: 320px;
}
.br__outline-btn img {
  margin: 0 12px;
}
.br__outline-btn:hover {
  opacity: 0.5;
}

.table__wrapper {
  overflow-x: auto;
  margin: 0 auto;
  padding: 1rem;
  display: block;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table tbody {
  background-color: #fff;
  transition: all 0.3s ease;
  border-top: 2px solid #E7DFD1;
  border-bottom: 2px solid #E7DFD1;
  cursor: pointer;
}
table tbody:hover {
  background-color: #F5E9D5;
}
table tbody:hover .table__item-title h2 {
  border-bottom: 2px dotted #C6A26E;
}

th,
td {
  padding: 1rem;
  text-align: left;
  vertical-align: top;
  border: none;
}

.table__item-date,
.table__item-img,
.table__item-title,
.table__item-price,
.table__item-link {
  margin: 0.5rem 0;
}

.table__item-date h2 {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 2rem;
  border-bottom: 2px transparent;
}

.table__item-date p {
  margin: 10px 0;
  font-size: 1rem;
}

.table__item-img img {
  height: auto;
}

.table__item-img {
  position: relative;
}

.table__item-img-ico {
  position: absolute;
  top: 4%;
  left: 9%;
  z-index: 10000;
  background-color: #B27214;
  color: #fff;
  border-radius: 36px;
  padding: 7px 12px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 18px;
}

.table__item-title a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}

.table__item-title a img {
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
}

.table__item-price h3 {
  margin: 0;
  font-size: 1.25rem;
}

.table__item-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  background-color: #C6A26E;
  color: #fff;
  padding: 10px;
  margin: 40px 0;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease;
}
.table__item-link a:hover {
  opacity: 0.5;
}

.table__item-link a img {
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
}

table th {
  padding: 10px 0;
  border-top: 2px solid #E7DFD1;
  border-bottom: 2px solid #E7DFD1;
}

.table__item-date h2 {
  font-size: 70px;
  line-height: 92px;
  color: #C6A26E;
}
.table__item-img img {
  width: 192px;
  margin: 0 auto;
  display: flex;
}
.table__item-title h2 {
  color: #C6A26E;
  font-size: 32px;
  line-height: 42px;
}
.table__item-title p {
  font-size: 16px;
  line-height: 22px;
  margin: 5px 0;
}
.table__item-title a {
  display: flex;
  align-items: center;
  margin: 12px 0;
}
.table__item-price h3 {
  color: #AC1A01;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin: 50px 0;
}

.table__item-date-hol {
  color: #F87777;
}

.pulse-icon {
  width: 6px;
  height: 6px;
  background-color: #58C900;
  border-radius: 100%;
  position: relative;
  animation: pulse 2s infinite;
}
.pulse-icon::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #58C900;
  border-radius: 100%;
  animation: pulse-before 1.2s ease infinite;
  opacity: 0.8;
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.8);
  }
}
@keyframes pulse-before {
  0%, 100% {
    transform: scale(1.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.navbar {
  padding: 20px 0 0 0;
}
.navbar__bottom {
  padding: 30px 0 0 0;
}
.navbar__bottom ul {
  display: flex;
  justify-content: space-between;
}
.navbar__bottom ul li {
  list-style: none;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
  padding: 0 0 20px 0;
  color: #2F2F2F;
}
.navbar__bottom ul li:hover {
  border-bottom: 3px solid #B27214;
  color: #B27214;
}
.navbar__bottom ul li a {
  text-decoration: none;
  color: #2F2F2F;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  margin: 0 10px;
  transition: all 0.3s ease;
  position: relative;
}
.navbar__bottom ul li a:hover {
  color: #B27214;
}
.navbar__bottom ul li a span {
  padding: 5px;
  background-color: #C6A26E;
  color: #fff;
  border-radius: 100%;
  position: absolute;
  top: -65%;
  right: -25%;
  font-size: 12px;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
}
.navbar__link-active {
  border-bottom: 3px solid #B27214 !important;
  color: #B27214;
  padding: 0 0 20px 0;
}
.navbar__link-active a {
  color: #B27214 !important;
}

.prenavbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prenavbar__logo {
  transition: all 0.3s ease;
  cursor: pointer;
}
.prenavbar__logo:hover {
  opacity: 0.5;
}
.prenavbar__cart {
  display: flex;
}
.prenavbar__cart-item {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.prenavbar__cart-img {
  border-right: 1px solid #C6A26E;
  padding: 10px;
}
.prenavbar__cart-basket {
  padding: 10px 10px;
}
.prenavbar__cart-basket p {
  font-size: 16px;
  font-weight: 500;
  color: #2F2F2F;
  margin: 5px 0;
}
.prenavbar__cart-basket p span {
  color: #AC1A01;
}
.prenavbar__cart-basket a {
  text-decoration: none;
  color: #AC1A01;
  font-size: 16px;
  font-weight: 500;
}
.prenavbar__tel {
  text-align: left;
}
.prenavbar__tel-mode {
  display: flex;
  align-items: center;
}
.prenavbar__tel-mode h4 {
  margin: 0 10px;
}
.prenavbar__tel-item {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 5px 0;
}
.prenavbar__tel-item img {
  margin-right: 10px;
}
.prenavbar__tel-item a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  line-height: 33px;
  font-weight: 500;
  color: #B27214;
  transition: all 0.3s ease;
  cursor: pointer;
}
.prenavbar__tel-item a:hover {
  opacity: 0.5;
}
.prenavbar__tel-mode span {
  display: inline;
  width: 10px;
  padding: 2px;
  border-radius: 100%;
  background-color: #58C900;
}
.prenavbar__tel-mode h4 {
  font-family: "Roboto", sans-serif;
  color: #B27214;
  text-align: right;
}

.info {
  background-image: url("../img/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
  position: relative;
}
.info__ticket {
  display: flex;
  align-items: center;
}
.info__ticket h2 {
  color: #C6A26E;
  font-size: 35px;
}
.info__ticket img {
  margin-left: 12px;
}
.info__title {
  margin: 12px 0;
}
.info__title h1 {
  font-size: 60px;
  font-weight: 500;
  color: #C6A26E;
}
.info__title p {
  font-weight: 500;
  color: rgba(255, 215, 157, 0.6980392157);
  margin: 4px 0;
}
.info__subtitle {
  margin: 25px 0;
}
.info__subtitle-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.info__subtitle-item p {
  margin: 0 12px;
  color: rgba(255, 215, 157, 0.8980392157);
}

.calendar__content {
  position: absolute;
  bottom: -12%;
  background-color: #F1EEE9;
  border-radius: 12px;
  padding: 10px 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calendar__content button {
  background: transparent;
  border: 0px none;
  outline: 0px none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.calendar__content button:hover {
  opacity: 0.8;
}
.calendar__month {
  display: flex;
  margin: 7px 0 0 0;
}
.calendar__month a {
  text-decoration: none;
  padding: 2px 7px;
  margin: 0 15px;
  color: #424242;
  transition: all 0.3s ease;
}
.calendar__month a:first-child {
  margin: 0 0;
}
.calendar__month a:hover {
  background-color: #C6A26E;
  color: #fff;
}
.calendar__month-active {
  background-color: #C6A26E;
  color: #fff !important;
}
.calendar__day-container {
  width: 100%;
  margin: 0 20px;
}
.calendar__day {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.calendar__day a {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: #424242;
  line-height: 24px;
  font-weight: 500;
  padding: 2px 10px;
  transition: all 0.3s ease;
}
.calendar__day a span {
  margin: 2px 0;
  line-height: 16px;
}
.calendar__day a .rest {
  color: #F87777;
}
.calendar__day a:hover {
  background-color: #C6A26E;
  color: #fff;
}

.table {
  padding: 70px 0 20px 0;
}
.table__intro {
  display: flex;
  justify-content: space-between;
}
.table__link-container {
  display: flex;
}
.table__intro-title {
  display: flex;
  align-items: center;
}
.table__intro-title h2 {
  font-size: 30px;
  line-height: 42px;
  margin-left: 12px;
}
.table__link-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.table__link-item a {
  margin: 0 6px;
  text-decoration: none;
  color: #2F2F2F;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}
.table__link-item a:hover {
  opacity: 0.5;
}
.table__intro-subtitle h2 {
  margin-left: 0;
}
.table__intro-subtitle p {
  max-width: 560px;
}

.bilet {
  margin: 70px 0;
}
.bilet__intro h2 {
  font-size: 32px;
  line-height: 42px;
  color: #2F2F2F;
  text-align: center;
}
.bilet__intro h3 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  line-height: 29px;
  color: #C5A26E;
  text-align: center;
}
.bilet__cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 12px auto;
}
.bilet__card-item {
  display: flex;
  flex-direction: column;
}
.bilet__card-item a {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #B27214;
  text-decoration: none;
  transition: all 0.3s ease;
}
.bilet__card-item a:hover {
  opacity: 0.5;
}
.bilet__img {
  position: relative;
}
.bilet__img img {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.bilet__img a.outline__btn {
  position: absolute;
  bottom: 0;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  background-color: #c6a26e;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease;
  max-width: 140px;
}
.bilet__subtitle {
  margin: 20px auto;
}
.bilet__subtitle h3 {
  font-size: 28px;
  line-height: 37px;
}
.bilet__subtitle p {
  font-size: 16px;
  line-height: 21px;
  max-width: 320px;
  margin: 20px 0 0 0;
  display: flex;
}

.question {
  margin: 70px 0;
}
.question__intro {
  margin: 30px 0;
}
.question__intro h2 {
  font-family: "Nunito Sans";
  font-size: 32px;
  line-height: 42px;
  text-align: center;
}
.question__accordeon-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.question__accordeon-item {
  background-color: #F1EEE9;
  border-left: 5px solid #C5A26E;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  max-width: 640px;
}
.question__accordeon-head {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.question__accordeon-head h3 {
  font-size: 20px;
  line-height: 32px;
  color: #B27214;
  padding: 10px 0;
  border-bottom: 3px dotted #C6A26E;
}
.question__accordeon-head button {
  background: transparent;
  border: 0px none;
  outline: 0px none;
  cursor: pointer;
}
.question__accordeon-head button img {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.question__accordeon-head button .rotated {
  transform: rotate(180deg);
}
.question__accordeon-body {
  display: none;
  margin: 10px 0;
}
.question__accordeon-body p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #424242;
}

.brone {
  margin: 70px 0;
  padding: 20px 0;
  width: 100%;
  background-color: #F5E9D5;
}
.brone__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brone__intro {
  display: flex;
  max-width: 520px;
}
.brone__intro h3 {
  font-size: 32px;
  line-height: 45px;
  color: #B27214;
  max-width: 450px;
  margin: 20px;
}
.brone__btn a {
  display: flex;
  align-items: center;
  background-color: #C6A26E;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.brone__btn a:hover {
  opacity: 0.5;
}
.brone__btn a img {
  margin: 10px;
}
.brone__tel {
  display: flex;
  align-items: center;
}
.brone__tel img {
  margin-right: 10px;
}
.brone__tel a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  line-height: 33px;
  font-weight: 500;
  color: #B27214;
  transition: all 0.3s ease;
  cursor: pointer;
}
.brone__tel a:hover {
  opacity: 0.5;
}

.popular {
  padding: 50px 0;
  background-color: #F1EEE9;
}
.popular__intro {
  text-align: center;
}
.popular__intro h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
}
.popular__intro p {
  font-size: 16px;
  line-height: 21px;
}
.popular__slider {
  margin: 14px 0;
  position: relative;
}
.popular__slider .slick__btn {
  background: transparent;
  border: 0px none;
  outline: 0px none;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10000;
}
.popular__slider .slick__btn:hover {
  opacity: 0.5;
}
.popular__slider .slick__btn:focus {
  opacity: 0.9;
}
.popular__slider .slick__btn:active {
  opacity: 0.1;
}
.popular__slider .slick-left-prev {
  position: absolute;
  left: -2%;
  top: 50%;
}
.popular__slider .slick-right-next {
  position: absolute;
  right: -2%;
  top: 50%;
}
.popular__card-item {
  padding: 12px;
  margin: 22px 20px;
  background-color: #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.popular__card-item:hover {
  opacity: 0.8;
}
.popular__card-img img {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
}
.popular__card-intro {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.popular__card-intro p {
  font-size: 18px;
  line-height: 23px;
  color: #B27214;
  margin: 10px 0;
}
.popular__card-intro p span {
  margin: 0 12px;
  color: #000;
}
.popular__card-intro h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  margin: 10px auto;
}
.popular__card-intro h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  color: #AC1A01;
}
.popular__card-link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  background-color: #C6A26E;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  padding: 5px 22px;
  max-width: 280px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.popular__card-link-btn:hover {
  opacity: 0.5;
}
.popular__card-link-btn img {
  margin: 10px;
}

.footer {
  background-image: url("../img/footer__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
}
.footer__logo {
  cursor: pointer;
  transition: all 0.3s ease;
}
.footer__logo:hover {
  opacity: 0.5;
}
.footer__content {
  display: flex;
}
.footer__block:nth-child(2) {
  margin: 70px 120px;
}
.footer__tel {
  margin: 20px 0;
  white-space: nowrap;
}
.footer__tel p {
  color: rgba(198, 162, 110, 0.8);
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}
.footer__tel a {
  margin: 12px 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 26px;
  line-height: 33px;
  font-weight: 500;
  color: #C6A26E;
  transition: all 0.3s ease;
  cursor: pointer;
}
.footer__tel a:hover {
  opacity: 0.5;
}
.footer__tel a img {
  margin: 0 10px 0 0;
}
.footer__day p {
  color: rgba(198, 162, 110, 0.8);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.footer__block-item {
  margin: 50px 0;
}
.footer__block-item h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  color: #C6A26E;
}
.footer__block-item p {
  color: rgba(198, 162, 110, 0.8);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin: 20px 0;
}
.footer__item-address {
  margin: 20px 0;
  display: flex;
}
.footer__item-address a {
  text-decoration: none;
  color: rgba(198, 162, 110, 0.8);
  margin: 0 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.footer__item-address a:hover {
  opacity: 0.5;
}
.footer__item-address a span {
  text-decoration: underline;
}
.footer__menu-link p {
  font-size: 22px;
  line-height: 30px;
  color: #C6A26E;
}
.footer__menu-link nav {
  margin: 52px 0;
}
.footer__menu-link nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.footer__menu-link nav ul li {
  list-style: none;
}
.footer__menu-link nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(198, 162, 110, 0.8);
  transition: all 0.3s ease;
}
.footer__menu-link nav ul li a:hover {
  opacity: 0.5;
}
.footer__menu-link nav ul li a img {
  margin: 0 10px 0 0;
}
.footer__pay {
  margin: 72px 0;
}
.footer__pay p {
  color: #C6A26E;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.footer__pay-ico {
  margin: 20px 0;
}
.footer__pay-ico img:nth-child(2) {
  margin: 0 10px;
}

.repertuar {
  background-image: url("../img/rep_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0 70px 0;
}
.repertuar__subtitle {
  margin: 0 0 20px 0;
}
.repertuar__subtitle a {
  color: #c6a26e;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}
.repertuar__subtitle a span {
  text-decoration: underline;
}
.repertuar__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.repertuar__card-item {
  border: 1px solid #e7dfd1;
  padding: 10px;
}
.repertuar__card-intro h5 {
  margin: 12px 0;
}
.repertuar__card-title {
  font-size: 26px;
  line-height: 34px;
  color: #2F2F2F;
  text-decoration: none;
  transition: all 0.3s ease;
}
.repertuar__card-title:hover {
  color: #B27214;
  text-decoration: underline;
}

.perfomance {
  background-image: url("../img/mm_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0 70px 0;
}
.perfomance__img-ico {
  z-index: 10000;
  background-color: #B27214;
  color: #fff;
  border-radius: 36px;
  padding: 7px 12px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin: 5px 10px;
}
.perfomance__title {
  display: flex;
  align-items: center;
}
.perfomance__intro h3 {
  text-align: center;
  font-size: 32px;
  line-height: 42px;
  margin: 0 auto;
}
.perfomance__table {
  padding: 30px 0 20px 0;
}

.schema {
  background-image: url("../img/schema_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0;
}

.date {
  margin: 70px 0;
}
.date__intro h3 {
  text-align: center;
  font-size: 32px;
  line-height: 42px;
  margin: 0 auto;
}
.date__calendar-wrapper {
  margin: 50px 0;
}
.date__calendar-wrapper .calendar__content {
  position: unset;
}/*# sourceMappingURL=main.css.map */